.choose_file {
    background-color: #F50A5E;
    border-radius: 40px !important;
}
.button_style {
    background-color: #F50A5E;
    color: white;
}
.custom-border-input{
    border: none;
    background-color: white;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding-left: 0px;
  }
  .custom-border-input:focus{
    border: none;
    background-color: white;
    outline: none;
    border-bottom: 3px solid #0097D8;
    box-shadow: none;
  }