<app-card-layout [cardContainerStyle]="'0px'" [cardIcon]="'import_export'">
    <form class="example-form" [formGroup]="incraForm">
        <div class="row">
            <label class="col-md-2 col-2 col-form-label custom-right">Job</label>
            <div class="col-md-4 col-4">
                <div class="form-group bmd-form-group is-filled">
                <input type="text" class="form-control custom-border-input" formControlName="job" disabled>
                </div>
            </div>
            <label class="col-md-2 col-2 col-form-label custom-right">Schedule</label>
            <div class="col-md-4 col-4">
                <div class="form-group bmd-form-group is-filled">
                <input type="text" class="form-control custom-border-input" formControlName="schedule" disabled>
                </div>
            </div>
            </div>
            <div class="row">
                <label class="col-md-2 col-4 col-form-label custom-right">Parameters</label>
                <div class="col-md-10 col-8">
                    <div class="form-group bmd-form-group is-filled">
                    <input type="text" class="form-control custom-border-input" formControlName="parameters" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2 col-4 col-form-label custom-right">Remarks</label>
                <div class="col-md-10 col-8">
                    <div class="form-group bmd-form-group is-filled">
                    <textarea rows="1" type="text" class="form-control custom-border-input" formControlName="remarks"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2 col-4 col-form-label custom-right">Schedule Date</label>
                <div class="col-md-2 col-8">
                    <div class="form-group bmd-form-group is-filled">
                    <input type="text" class="form-control custom-border-input" formControlName="scheduleDate">
                </div>
            </div>
            <label class="col-md-2 col-4 col-form-label custom-right">Start Date</label>
            <div class="col-md-2 col-8">
                <div class="form-group bmd-form-group is-filled">
                <input type="text" class="form-control custom-border-input" disabled>
                </div>
            </div>
            <label class="col-md-2 col-4 col-form-label custom-right">End Date</label>
            <div class="col-md-2 col-8">
                <div class="form-group bmd-form-group is-filled">
                <input type="text" class="form-control custom-border-input" disabled>
                </div>
            </div>
            </div>
      <div class="flex-row d-flex">
        <div>
          <button mat-raised-button (click)="upload()" class="button_style">OK</button>
        </div>
        <div class="ml-auto">
          <button mat-raised-button class="button_style" (click)="deleteIncra()">CANCEL</button>
        </div>
      </div>
    </form>
  </app-card-layout>