<app-card-layout [cardContainerStyle]="'20px'" [cardIcon]="'schedule'" [cardHeader]="'FSDS Jobs'">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link"> Go To Page
              <input type="number" (keydown.enter)="directlyPage()" #goto class="custom-pagination-input">
            </a>
            </li> 
      <li class="page-item">
        <a class="page-link"> {{currentPage}} of total {{pages}}
        </a>
      </li>
      <li class="page-item">
        <button class="page-link" (click)="previousFetch()" [disabled]="disablePrev">Prev</button>
      </li>
      <li class="page-item">
        <button class="page-link" (click)="nextFetch()" [disabled]="disableNext">Next</button>
      </li>
    </ul>
  </nav>
  <app-table [headerList]="fsdHeaderList" [rowList]="fsdDataTotal"></app-table>
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
          <li class="page-item">
              <a class="page-link"> Go To Page
                <input type="text" (keydown.enter)="directlyPage()" #goto class="custom-pagination-input">
              </a>
              </li> 
        <li class="page-item">
          <a class="page-link"> {{currentPage}} of total {{pages}}
          </a>
          </li> 
        <li class="page-item">
            <button class="page-link" (click)="previousFetch()" [disabled]="disablePrev">Prev</button>
          </li>
        <li class="page-item">
          <button class="page-link" (click)="nextFetch()" [disabled]="disableNext">Next</button>
        </li>
      </ul>
    </nav>
</app-card-layout>