<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">schedule</i>
      </div>
      <h4 class="card-title">Maintain Batch Scheduling - FSD Jobs</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive" style="overflow:scroll">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th>Job</th>
              <th>Schedule Date</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Parameters</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngIf="showSpinner">
                <td></td><td></td><td></td>
<td>                  <img src="../../../../assets/img/spinner.gif" height="100" width="100">
  </td>
              </tr>
            <tr *ngFor="let fsd of fsdData">
              <td class="text-center"><div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div></td>
              <td>{{fsd.name}}</td>
              <td>{{fsd.schedule_date}}</td>
              <td>{{fsd.start_date}}</td>
              <td>{{fsd.end_date}}</td>
              <td>{{fsd.parameters}}</td>
              <td class="td-actions text-right">
                <button type="button" rel="tooltip" class="btn btn-rose" data-original-title="" title="">
                  <i class="material-icons">more_vert</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>