<app-card-layout [cardContainerStyle]="'00px'" [cardIcon]="'schedule'" [cardHeader]="'FSDS Jobs'">
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-left custom-left">
          <li class="page-item">
            Show   
            <select (change)="changePageLimit($event.target.value)">
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>  
            Entries
          </li>
        </ul>
    <ul class="pagination justify-content-end custom-end" style="margin-left:  3px;">
        <li class="page-item">
            <button class="page-link custom-material-icon" (click)="refreshData()"><mat-icon>refresh</mat-icon></button>
          </li>
        <li class="page-item">
            <a class="page-link custom-material-icon custom-width-more"> Go to
              <input type="number" (keydown.enter)="directlyPage()" #goto class="custom-pagination-input">
            </a>
            </li> 
      <li class="page-item">
        <a class="page-link custom-material-icon custom-width"> {{currentPage}} / {{pages}}
        </a>
      </li>
      <li class="page-item">
        <button class="page-link custom-material-icon" (click)="previousFetch()" [disabled]="disablePrev"><mat-icon>keyboard_arrow_left</mat-icon></button>
      </li>
      <li class="page-item">
        <button class="page-link custom-material-icon" (click)="nextFetch()" [disabled]="disableNext"><mat-icon>keyboard_arrow_right</mat-icon></button>
      </li>
    </ul>
  </nav>
  <app-table [headerList]="fsdHeaderList" [rowList]="fsdDataTotal"></app-table>
  <nav aria-label="Page navigation example" *ngIf="lowerPaginationNavshow">
      <ul class="pagination justify-content-end">
          <li class="page-item">
              <button class="page-link custom-material-icon" (click)="refreshData()"><mat-icon>refresh</mat-icon></button>
            </li>
          <li class="page-item">
              <a class="page-link custom-material-icon custom-width-more"> Go to
                <input type="text" (keydown.enter)="directlyPage()" #goto class="custom-pagination-input">
              </a>
              </li> 
        <li class="page-item">
          <a class="page-link custom-material-icon custom-width"> {{currentPage}} / {{pages}}
          </a>
          </li> 
        <li class="page-item">
            <button class="page-link custom-material-icon" (click)="previousFetch()" [disabled]="disablePrev"><mat-icon>keyboard_arrow_left</mat-icon></button>
          </li>
        <li class="page-item">
          <button class="page-link custom-material-icon" (click)="nextFetch()" [disabled]="disableNext"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </li>
      </ul>
    </nav>
</app-card-layout>