.side_nav_header{
    padding: 25px 0 10px;
    width: 80%;
    float: right;
    font-family: cursive;
    height: 35px;
    float: left;
    color: #696b79;
    position: absolute;
    left: 20px;
}
.side_nav_sub_header{
    background-color: #fff;
   // padding: 55px 15px 0 27px;
    list-style-type: none;
}
mat-sidenav {
    box-shadow: 5px 0 6px rgba(0,0,0,.24);
    width: 260px;
    position: absolute;
}

.side_nav_title_font {
    color: #3C4858;
}
.nav_menu_li{
    height: 48px;
    cursor: pointer;
    &:hover{
        background: rgba(0,0,0,.04);
    }
}
mat-sidenav-container {
    background-color: #EFEFEF;
}
.toolbar_text {
    color: #696b79;
}
.toolbar_menu_icon {
    width: 47px;
    box-shadow: 0px 1px rgba(0,0,0,.2);
}
.activeOption{
    border-right: 4px solid #09d0e2;
    background-color: #def5f7;
}
.custom-dropdown{
    margin-left: -40px;
}
.mat-option-texts{
    font-size: 13px;
}
.custom-background{
    background-color: #EEEEEE;
    color: #787878;
}
.custom-icon{
    font-size: 14px;
}
.custom-style-font{
    font-size:18px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: normal;
}
mat-menu-item{
    padding-left: 15px;
    padding-right: 10px;
}