<mat-sidenav-container fullscreen>
    <mat-sidenav [opened]="!mobileQuery.matches" #klmSideNav [mode]="mobileQuery.matches ? 'over' : 'side'" 
      class="mat_sidenav_style" [fixedInViewport]="mobileQuery.matches">
      <ng-container>
        <div class="d-flex flex-column">
          <div class="p-4 mx-auto">
            <img src="assets/img/AFKL_Logo.png">
          </div>
          <mat-divider></mat-divider>

          <ul class="side_nav_sub_header px-3">
            <ng-container *ngFor="let sideNav of sideNavList">
              <li *ngIf="!sideNav.subMenu; else elseBlock" (click)="navigateClick()" [routerLink]="[sideNav.link]" class="my-2 nav_menu_li d-flex align-items-center px-3" >
                <div class="d-flex align-items-center">
                  <mat-icon class="side_nav_title_font mr-2">{{sideNav.icon}}</mat-icon>
                  <span class="side_nav_title_font ml-3"> {{sideNav.title}}</span>
                </div>
              </li>
              <ng-template #elseBlock>
                <li class="my-2 side_nav_sub_header">
                  <mat-accordion displayMode="flat" style>
                    <mat-expansion-panel style="box-shadow: none;" [expanded]="true">
                      <mat-expansion-panel-header class="px-3">
                        <mat-panel-title>
                          <div class="d-flex align-items-center">
                              <mat-icon class="side_nav_title_font mr-2">{{sideNav.icon}}</mat-icon>
                              <span class="side_nav_title_font ml-3"> {{sideNav.title}}</span>  
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ng-container *ngFor="let subMenu of sideNav.subMenu">
                        <li class="my-3 nav_menu_li d-flex align-items-center px-3" (click)="navigateClick()" [routerLink]="subMenu.link" [routerLinkActive]="getActiveOption(subMenu.link)">
                          <div class="d-flex align-items-center">
                              <mat-icon class="side_nav_title_font mr-2 custom-icon">{{subMenu.icon}}</mat-icon>
                              <span class="side_nav_title_font ml-3"> {{subMenu.title}}</span>  
                          </div>
                        </li>
                      </ng-container>
                </mat-expansion-panel>
                </mat-accordion>
                </li>
              </ng-template>
            </ng-container>
          </ul>
        </div>
      </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="d-flex custom-background">
            <div class="mr-4">
              <button mat-fab class="toolbar_text bg-white toolbar_menu_icon"  (click)="klmSideNav.toggle();setMenuIcon()">
                <mat-icon aria-label="Example icon-button with a heart icon" class="round-icon">{{menuIcon}}</mat-icon>
              </button>
            </div>
            <div style="margin-top: 15px;"><p class="custom-style-font">Incra Import Wizard</p></div>
            <div class="ml-auto">
              <button mat-icon-button class="mr-3">
                <mat-icon  matBadgeColor="warn" aria-label="Example icon-button with a heart icon">notifications
                </mat-icon>
              </button>
              <button mat-icon-button [matMenuTriggerFor]="afterMenu">
                <mat-icon aria-label="Example icon-button with a heart icon">person</mat-icon>
              </button>
              <mat-menu #afterMenu="matMenu" xPosition="after">
                  <button mat-menu-item>Profile</button>
                  <button mat-menu-item>Setting</button>
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="logoutUser()">Logout</button>
                </mat-menu>
            </div>
          </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>