<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">KLM</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a (click)="gotoLogout()" style="cursor:pointer">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div *ngIf="currentFileUpload" class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
        aria-valuemin="0" aria-valuemax="100"
        [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
    </div>
     
    <label class="btn btn-default" >
      <input type="file" class="file-input-custom" accept=".dat" (change)="selecteFile($event)">
    </label>
     
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
    
  </div>
</div>