.card_icon {
    min-width: 38px;
    color: #333;
}

td{
    font-size: 14px;
    padding: 0px;
    justify-content: center;
    padding-top: 5px;
    padding-left: 10px;
}
th{
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
    color: #e12c6c;
    font-weight: 600;
    background-color: #eee;
}
.custom-th{
    font-size: 16px;
}
td{
    font-family: Verdana, Geneva, sans-serif;
    color: black;
    font-weight:450;
    font-size: 15px;
}

// .table-striped>tbody>tr:nth-child(odd)>td,
// .table-striped>tbody>tr:nth-child(odd)>th {
//   background-color: #95d4f1;
//   color: white;
// }
// .table-striped>tbody>tr:nth-child(even)>td,
// .table-striped>tbody>tr:nth-child(even)>th {
//   background-color: #ECEFF1;
//   color: white;
// }