.card_icon {
    min-width: 38px;
    color: #333;
}

td{
    font-size: 14px;
}
th{
    font-size: 18px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: normal;
}
.custom-th{
    font-weight: 550;
    font-size: 18px;
}