<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let header of headerList">{{header}}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowdata of rowList">
        <td>{{rowdata.name}}</td>
        <td>{{rowdata.schedule_date}}</td>
        <td>{{rowdata.start_date}}</td>
        <td>{{rowdata.end_date}}</td>
        <td>{{rowdata.parameters}}</td>
        <td>{{rowdata.remarks}}</td>
        <td class="td-actions text-center">
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon">file_copy</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
          </button>
          <button mat-icon-button color="warn">
              <mat-icon aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>