.card_icon {
    background-color: #F50A5E;
    min-width: 38px;
    color: white;
    // padding: 16px 13px 16px 13px;
    border-radius: 5px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 161, 228, 0.2);
}