.import_export {
    background-color: #F50A5E;
    width: max-content;
    color: white;
    padding: 16px 13px 16px 13px;
    border-radius: 5px;
    position: relative;
    top: -40px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 161, 228, 0.2);
}
.choose_file {
    background-color: #F50A5E;
    border-radius: 40px !important;
}
.button_style {
    background-color: #F50A5E;
    color: white;
}

.custom-border-input{
    border: none;
    background-color: white;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding-left: 0px;
  }
  .custom-border-input:focus{
    border: none;
    background-color: white;
    outline: none;
    border-bottom: 3px solid #0097D8;
    box-shadow: none;
  }

  .custom-right{
    text-align: right;
    color: #B0B0B0;
  }
