.import_export {
    background-color: #F50A5E;
    width: max-content;
    color: white;
    padding: 16px 13px 16px 13px;
    border-radius: 5px;
    position: relative;
    top: -40px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 161, 228, 0.2);
}
.choose_file {
    background-color: #F50A5E;
    border-radius: 40px !important;
}
.button_style {
    background-color: #F50A5E;
    color: white;
}

.custom-border-input{
    border: none;
    background-color: white;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding-left: 0px;
  }
  .custom-border-input:focus{
    border: none;
    background-color: white;
    outline: none;
    border-bottom: 3px solid #0097D8;
    box-shadow: none;
  }

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.fileinput .btn {
    vertical-align: middle;
}
.btn.btn-round {
    border-radius: 30px;
}
.btn.btn-rose {
    color: #fff;
    background-color: #e91e63;
    border-color: #e91e63;
    box-shadow: 0 2px 2px 0 rgba(233,30,99,.14), 0 3px 1px -2px rgba(233,30,99,.2), 0 1px 5px 0 rgba(233,30,99,.12);
}
.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.btn, .btn.btn-default {
    color: #fff;
    background-color: #999;
    border-color: #999;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
}
.btn, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}
 
