.card_icon {
    background-color: #E12C6C;
    width: max-content;
    color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: -40px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 161, 228, 0.2);
}
.choose_file {
    background-color: #E12C6C;
    border-radius: 40px !important;
}
.button_style {
    background-color: #E12C6C;
    color: white;
}
.text-right{
    text-align: right;
}
.custom-margin{
    padding: 50px;    
}
