<app-card-layout [cardContainerStyle]="'20px'" [cardIcon]="'schedule'" [cardHeader]="'PCS Jobs'">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-left custom-left">
                    <li class="page-item">
                      Show   
                      <select (change)="changePageLimit($event.target.value)">
                        <option >5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                      </select>  
                      Entries
                    </li>
                  </ul>
                    <ul class="pagination justify-content-end custom-end">
                        <li class="page-item">
                            <button class="page-link custom-material-icon" (click)="refreshData()"><mat-icon>refresh</mat-icon></button>
                          </li>
                        <li class="page-item">
                            <a class="page-link"> Go To Page
                              <input type="number" (keydown.enter)="directlyPage()" #goto class="custom-pagination-input">
                            </a>
                            </li> 
                        <li class="page-item">
                            <a class="page-link"> {{currentPage}} of total {{pages}}
                            </a>
                            </li> 
                      <li class="page-item">
                          <button class="page-link" (click)="previousFetch()" [disabled]="disablePrev">Prev</button>
                        </li>
                      <li class="page-item">
                        <button class="page-link" (click)="nextFetch()" [disabled]="disableNext">Next</button>
                      </li>
                    </ul>
                  </nav>
                <app-table [headerList]="pcsHeaderList" [rowList]="pcsDataTotal"></app-table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item">
                            <button class="page-link custom-material-icon" (click)="refreshData()"><mat-icon>refresh</mat-icon></button>
                          </li>
                        <li class="page-item">
                            <a class="page-link"> Go To Page
                              <input type="text" (keydown.enter)="directlyPage()" #goto class="custom-pagination-input">
                            </a>
                            </li> 
                      <li class="page-item">
                        <a class="page-link"> {{currentPage}} of total {{pages}}
                        </a>
                        </li> 
                      <li class="page-item">
                          <button class="page-link" (click)="previousFetch()" [disabled]="disablePrev">Prev</button>
                        </li>
                      <li class="page-item">
                        <button class="page-link" (click)="nextFetch()" [disabled]="disableNext">Next</button>
                      </li>
                    </ul>
                  </nav>
</app-card-layout>