
.fle-copy-custom{
    color: #00BCD4;
}
.delete-custom{
    color:#F44336;
}
.custom-more-vert{
    color: #444;
}
td{
    font-size: 14px;
}
th{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
.custom-allign-center{
    text-align: center;
}

.custom-pagination-input{
width: 58px;
height: 20px;
}
.custom-material-icon{
    height: 38px;
}
.custom-left{
    float: left;
}
.custom-end{
    float: right;
    margin-top: -5px;
}
.custom-width{
    width: 90px;
    padding-left: 0px;
    padding-right: 0px;
}
.custom-width-more{
    width: 130px;
}
